body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #84a6b5;
}
.banner-column{
    background-color: #2f5c70;
}
.navbar-container{
    background-color: #1a1d1f;
}
.about-container{
    background-color: #4f82b3;
}