body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #84a6b5;
}
.banner-column{
    background-color: #2f5c70;
}
.navbar-container{
    top: 0;
    background-color: #1a1d1f;
    position: sticky;
    z-index: 2;
}
.about-container{
    background-color: #4f82b3;
}
.education-container{
    background-color: #202b36;
}
.bg-redtype{
    background-color: #e84135;
}

.redtype-color{
    color: #e84135;
}
.circle-edu{
    background-color: #e84135;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: #558a70;
}
.form-container{
    background-color: aqua;
}
.bummy-box{
    font-size: 72px;
}
.inner-form{
    background-color: cadetblue;
}
.p-container{
    background-color: rgb(29, 88, 116);
}
.footer{
    background-color: #129957;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: teal;
}
.circle:hover{
    background-color: black;

}